# -*- coding: utf-8; mode: gitignore; -*-
#
# .gitignore
#

# ============================================================
# 
# Emacs template files
# 
*~
.*~
\#*#

# ============================================================
# 
# Emacs compiled files
# 
*.elc

# ============================================================
# 
# Ignore Directories
# 
auto-save-mode/
tramp/
server/

# ============================================================
# 
# Other files
#
kkcrc