# -*- coding: utf-8; mode: gitignore; -*-
#
# .gitignore
#

# ============================================================
# 
# Directory keep file
# 

!.gitkeep

# ============================================================
# 
# Emacs template files
# 
*~
.*~
\#*#

# ============================================================
# 
# Emacs compiled files
# 
*.elc

# ============================================================
# 
# Ignore Directories
# 
auto-save-mode/
eshell/
elpa/
private/
tramp/
server/

# ============================================================
# 
# Other files
#
kkcrc
*.dat

# ============================================================
# 
# Cask directory
# 
.cask/

# ============================================================
# 
# Gasket directory
#
.gasket/
