# -*- coding: utf-8; mode: gitignore; -*-
#
# .gitignore
#

# ============================================================
# 
# Emacs template files
# 
*~
.*~
\#*#

# ============================================================
# 
# Ignore Directories
# 
auto-save-mode/
tramp/
